header {
    background-color: darkgrey;
    text-transform: capitalize;
}

nav {
    background-color: lightgrey;
}

section {
    background-color: lightgrey;
}

footer {
    background-color: slategray;
    margin:auto;
    text-align:center;
}

aside {
    background-color: darkslategray;
}

details {
    background-color: gray;
}

summary {
    background-color: lightslategray;
}

article aside {
    float: right; /* Floats on right through whole article. */
}


/* Menu bars are usually made as styled lists. */

nav ul {
    list-style-type: none; /* Remove bullets. */
    margin: 0px;
    padding: 0px;
}

nav ul li {
    display: inline-block; /* Put list items next to each other. */
}

nav ul li a {
    display: block; /* Make whole link are clickable. */
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    background-color: cadetblue;
    text-decoration: overline underline;
}

body {
    margin: auto;
    width: 1000px; /* Pages are often forced to some reasonable width. */
    background-image: url("../img/Cruise-the-cosmos.jpg");
    background-repeat: repeat;
    background-color: darkslateblue;
}

table.authorTable, table.authorTable tr, table.authorTable td, table.authorTable th {
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
}

table.authorTable td, table.authorTable th {
    padding: 15px;
}

table.authorTable {
    margin: 15px;
}

table.authorTable th, table.authorTable caption {
    text-transform: capitalize;
}

.cookiesDialog {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: black;
    color: lightgray;
    padding: 10px;
}

.cookiesDialog p {
    margin: 0px;
}

section p, section summary {
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
}

section header, article header {
    text-transform: uppercase;
}

.label {
    float: left;
}

form input, form select {
    background-color: darkslategrey;
    border: 1px solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

form input[type=reset]:hover, form input[type=submit]:hover {
    background-color: cornflowerblue;
}

form fieldset {
    margin: 10px;
    width: 300px;
}